.highlight
{
	margin:5px auto;
	padding:0;
	overflow:auto;
	border:1px solid #B7B7B7;
	background:#FFF;
}
.highlight a
{
	text-decoration:none;
}
.highlight a:hover
{
	border-bottom:1px dashed #313197;
}
.highlight pre
{
	margin:0;
	padding:3px;
	font:14px /16px monospace;
}
.highlight .numbers
{
	display:inline-block;
	border-right:1px solid #B7B7B7;
	float:left;
	font-size:12px;
	background:#F1F1F1;
	color:#777;
}
.highlight .code
{
	overflow:auto;
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAgCAYAAADT5RIaAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAACHRFWHRDb21tZW50APbMlr8AAAARSURBVAhbY2CgNsj9zE5FAgB9dRZxBYoY7AAAAABJRU5ErkJggg==') 0 2px;
	color:#444;
}
.highlight .borders
{
	font-weight:bold;
	background:#D5E8F8;
	color:#000;
}
.highlight .comment
{
	font-style:italic;
	color:#929292;
}
.highlight .value
{
	font-style:normal;
	color:#DD0000;
}
.highlight .datatype
{
	color:#FF9900;
}
.highlight .keyword
{
	font-weight:bold !important;
	color:#990099;
}
.highlight .number
{
	color:#095DB1;
}
.highlight .punctuation
{
	color:#F559F5;
}
.highlight .class, .highlight .identify
{
	color:#8C1A8C;
}
.highlight .identify
{
	font-weight:bold;
}
.highlight .pseudoclass
{
	color:#4747FB;
}
.highlight .doctype, .highlight .doctype *
{
	font-style:italic;
	color:#C4D7E7 !important;
}
.highlight .tag
{
	font-weight:bold !important;
	color:#000;
}
.highlight .attribute
{
	color:#098409;
}
.highlight .entity
{
	color:#B08000;
}
.highlight .variable
{
	color:#6666FE;
}
.highlight .object
{
	color:#168A16;
}.highlight .method
{
	color:#820505;
}
.highlight .function
{
	color:#313197;
}
.highlight .control
{
	color:#B6B65E;
}
.highlight .package, .highlight .package *
{
	color:#B6B65E;
}
.highlight .event
{
	color:#D1AAC8;
}
.highlight .preprocessor
{
	color:#399B39;
}
.highlight .documentation
{
	font-style:italic;
	font-weight:bold;
	color:#008000;
}
.highlight .documentationtag
{
	font-style:normal;
	font-weight:bold;
	color:#808080;
}
.highlight .notice
{
	font-style:normal;
	font-weight:bold !important;
	background:#F7E6E6;
	color:#BF0303;
}
.highlight .stray
{
	background:rgba(255, 0, 0, 0.75);
}
.highlight .tab
{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAACHRFWHRDb21tZW50APbMlr8AAABoSURBVBhXbY9BCoAwDAQjetFX9+4Lihf1CdaDzb1t/JVdUaSxgYXMsiwJneEYjTENPaOZJHGQyLO1tqsxOed6iX7L2rFrvkO5ss3GJMnHGhPqUPsaBTOvA+og7JoJKUnH8h1Z8u8tzRcTInepGu/sJgAAAABJRU5ErkJggg==') no-repeat 2px center;
}
.highlight .space
{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAACHRFWHRDb21tZW50APbMlr8AAAAlSURBVAgdYzh+dEf7yeM7P4NohhPHdn45eXzXf5AAA0gEJACiARbBG2TcLnT5AAAAAElFTkSuQmCC') no-repeat center;
}
.highlight .highlightrange
{
	opacity:0.75;
	background:#DDE3EA;
}
.highlight .switcher
{
	cursor:pointer;
}
