.code
{
	margin:5px auto;
	padding:0;
	overflow:auto;
	border:1px solid #B7B7B7;
	background:#FFF;
}
.code pre
{
	margin:3px 0;
	padding:0 3px;
	overflow:auto;
	font:14px /16px monospace;
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAgCAYAAADT5RIaAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAACHRFWHRDb21tZW50APbMlr8AAAARSURBVAhbY2CgNsj9zE5FAgB9dRZxBYoY7AAAAABJRU5ErkJggg==') 0 0;
	color:#444;
}
.code .numbers
{
	display:inline-block;
	margin:0;
	padding:3px;
	border-right:1px solid #B7B7B7;
	overflow:visible;
	float:left;
	font-size:12px;
	position:relative;
	background:#F1F1F1;
	color:#777;
	cursor:default;
}
.code[data-options*=folding] .numbers
{
	padding:3px 12px 3px 3px;
}
.code .region
{
	font-weight:bold;
	background:#D5E8F8;
	color:#000;
}
.code .comment
{
	font-style:italic;
	color:#929292;
}
.code .value
{
	font-style:normal;
	color:#AA0000;
}
.code .datatype
{
	color:#FF9900;
}
.code .keyword
{
	font-weight:bold !important;
	color:#000;
}
.code .number
{
	color:#099;
}
.code .punctuation
{
	color:#000;
}
.code .class, .code .identifier
{
	color:#C4B15F;
}
.code .identifier
{
	font-weight:bold;
}
.code .pseudoclass
{
	color:#4747FB;
}
.code .definition
{
	color:#6CB6C5;
}
.code .doctype, .code .doctype *
{
	font-style:italic;
	background:#D5E8F8;
	color:#539FA3 !important;
}
.code .tag
{
	font-weight:bold !important;
	color:#000;
}
.code .attribute
{
	color:#098409;
}
.code .entity
{
	color:#B08000;
}
.code .property
{
	color:#845B90;
}
.code .variable
{
	color:#6666FE;
}
.code .object
{
	color:#168A16;
}
.code .method
{
	color:#B87FC9;
}
.code .function
{
	color:#845B90;
}
.code .control
{
	color:#B6B65E;
}
.code .package, .code .package *
{
	color:#B6B65E;
}
.code .preprocessor
{
	color:#399B39;
}
.code .documentation
{
	font-style:italic;
	font-weight:bold;
	color:#008000;
}
.code .documentationtag
{
	font-style:normal;
	font-weight:bold;
	color:#CA60CA;
}
.code .notice
{
	font-style:normal;
	font-weight:bold !important;
	background:#F7E6E6;
	color:#BF0303;
}
.code .stray
{
	background:rgba(255, 0, 0, 0.75);
}
.code .tab
{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAACHRFWHRDb21tZW50APbMlr8AAABoSURBVBhXbY9BCoAwDAQjetFX9+4Lihf1CdaDzb1t/JVdUaSxgYXMsiwJneEYjTENPaOZJHGQyLO1tqsxOed6iX7L2rFrvkO5ss3GJMnHGhPqUPsaBTOvA+og7JoJKUnH8h1Z8u8tzRcTInepGu/sJgAAAABJRU5ErkJggg==') no-repeat 2px center;
}
.code .space
{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAACHRFWHRDb21tZW50APbMlr8AAAAlSURBVAgdYzh+dEf7yeM7P4NohhPHdn45eXzXf5AAA0gEJACiARbBG2TcLnT5AAAAAElFTkSuQmCC') no-repeat center;
}
.code .highlight
{
	opacity:0.75;
	background:#DDE3EA;
}
.code .highlight > span:first-child, .code .highlight > span:last-child
{
	color:red;
}
.code .numbers .fold, .code .numbers .unfold
{
	display:block;
	width:9px;
	height:12px;
	border-right:1px solid transparent;
	font-size:0;
	position:absolute;
	right:-1px;
	z-index:10;
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAh0RVh0Q29tbWVudAD2zJa/AAAAHklEQVQIW2M4eXzXf1yYAURgA8RLIhtHmk6ckrgwAOkPsFyNZteWAAAAAElFTkSuQmCC') no-repeat 0 5px;
	cursor:pointer;
}
.code .numbers .unfold
{
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAh0RVh0Q29tbWVudAD2zJa/AAAAIklEQVQImWM4eXzXf1yYAURgAxiS6Gy4JLJxpOnEaScuDABaia72u1tiHgAAAABJRU5ErkJggg==');
}
.code .numbers .indicator
{
	border-color:green;
}
