.highlight
{
	height:auto;
	margin:5px auto;
	padding:0;
	overflow:auto;
	border:1px solid #B7B7B7;
	background:#FFF url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAgCAYAAADT5RIaAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAACHRFWHRDb21tZW50APbMlr8AAAARSURBVAhbY2CgNsj9zE5FAgB9dRZxBYoY7AAAAABJRU5ErkJggg==') top;
}
.highlight a
{
	text-decoration:none;
}
.highlight a:hover
{
	border-bottom:1px dashed #313197;
}
.highlight .numbers
{
	display:inline-block;
	margin:0;
	padding:0 3px;
	border-right:1px solid #B7B7B7;
	float:left;
	font:12px /16px monospace !important;
	background:#F1F1F1;
	color:#777;
}
.highlight .code
{
	margin:0;
	padding:0 2px;
	overflow:auto;
	font:14px /16px monospace !important;
	color:#444;
}
.highlight .borders
{
	font-weight:bold;
	background:#D5E8F8;
	color:#000;
}
.highlight .comment
{
	font-style:italic;
	color:#929292;
}
.highlight .value
{
	font-style:normal;
	color:#DD0000;
}
.highlight .datatype
{
	color:#FF9900;
}
.highlight .keyword
{
	font-weight:bold !important;
	color:#990099;
}
.highlight .number
{
	color:#095DB1;
}
.highlight .punctuation
{
	color:#F559F5;
}
.highlight .class, .highlight .identify
{
	color:#8C1A8C;
}
.highlight .identify
{
	font-weight:bold;
}
.highlight .pseudoclass
{
	color:#4747FB;
}
.highlight .doctype, .highlight .doctype *
{
	font-style:italic;
	color:#C4D7E7 !important;
}
.highlight .tag
{
	font-weight:bold !important;
	color:#000;
}
.highlight .attribute
{
	color:#098409;
}
.highlight .entity
{
	color:#B08000;
}
.highlight .variable
{
	color:#6666FE;
}
.highlight .object
{
	color:#168A16;
}.highlight .method
{
	color:#820505;
}
.highlight .function
{
	color:#313197;
}
.highlight .control
{
	color:#B6B65E;
}
.highlight .package, .highlight .package *
{
	color:#B6B65E;
}
.highlight .event
{
	color:#D1AAC8;
}
.highlight .preprocessor
{
	color:#399B39;
}
.highlight .documentation
{
	font-style:italic;
	font-weight:bold;
	color:#008000;
}
.highlight .documentationtag
{
	font-style:normal;
	font-weight:bold;
	color:#808080;
}
.highlight .notice
{
	font-style:normal;
	font-weight:bold !important;
	background:#F7E6E6;
	color:#BF0303;
}
.highlight .stray
{
	background:#EE3434;
}
.highlight .tab
{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABlJREFUCFtjOHl8138GKEBmwwENFVBRAggAYWct/2XXm24AAAAASUVORK5CYII=') no-repeat 2px center;
}
.highlight .highlightrange
{
	opacity:0.75;
	background:#DDE3EA;
}
.highlight .switcher
{
	cursor:pointer;
}
